*{
    /* color:rgb(167,167,167); */
    font-family: sans-serif;
}
#container{
    height: 80px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
}
#first-box{
    width: 30%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}
#first-box>div>img{
    width: 45%;
    height: 20%;
    margin-left: 10%;
}
#third-box{
    width: 25%;
    /* border: 1px solid black; */
    display:flex;
    justify-content:space-evenly;
}
#third-box>div{
    margin-top: 8%;
}
#second-box{
    width: 45%;
    /* border: 1px solid black; */
}
#input-box>input{
    width: 90%;
    margin: auto;
    padding: 15px 18px 15px 18px;
    border-radius: 18px;
    margin-top: 3%;
    background-color:rgb(249,249,249);
    border:0.1px solid grey;
}
#cardicon{
    width:22px;
    opacity: 0.5;
}
#cart-Icon{
    display: flex;
  
}
#usericon{
    display: flex;
}
#usericonimg{
    width: 17px;
    opacity: 0.5;
}
#creditsicon{
    display: flex;
}
#Credit-Icon{
    width: 20px;
    height: 17px;
    opacity: 0.5;
}
#home{
    display: flex;
}
#homeicon{
    width: 19px;
    opacity: 0.5;
}
/* header end */
/* footer start */
#footer-container{
    height: 820px;
    /* border: 1px solid red;  */
    background-color:rgb(22,82,65);
    color: white;
   

}

#f1{
    display: flex;
}
#f1>div{
    width: 25%;
    height:50%;
    /* border: 1px solid black; */
    margin-top: 5%;
    padding: 5px 20px 5px 20px;
}
#f1>div>img{
    width: 40%;
    align-items: center;

}
#f2{
    height: 50%;
    padding: 5px 20px 5px 20px;
    /* border: 1px solid red; */
}
#email-icon{
    width: 30px;
    /* opacity: 0.5; */
}
#phone-icon{
    width: 30px;
    /* opacity: 0.5; */
}
#E-mail{
    display: flex;
}
#Contact{
    display: flex;
}
#bottom-copyright{
   margin-left: 530px;
}
/* footer end */
/* indexpage */
#maindiv1{
   width: 95%;
   height: 410px;
   /* border: 1px solid red; */
   /* margin-top: 50px; */
   display: flex;
   margin: 40px 30px  10px 30px
}
#div-sec{
   width: 45%;
   height: 100%;
   /* border: 1px solid green; */
}
#div-sec>div{
   margin: 0px 15px 20px 20px;
   height: 26%;
   width: 98%;
}
.slideshow-container{
   width: 80%;
   height: 80%;
   /* border: 1px solid black; */
}
#div-one{
   display: grid;
   grid-template-columns: repeat(5,1fr);
   justify-content:space-between;
   /* width: 90%; */
   /* border: 1px solid red; */
   margin: auto;  

}
#div-one>div:hover{
box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
#div-one>div{
height: 330px;
   width: 270px;
   background-color:rgb(249,249,249);
   border: 0.000000001px solid grey;
   border-radius: 10px;
}
#div-second{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   justify-content:space-between;
   

}
#div-second>div{
height: 330px;
   width: 280px;
   /* border: 1px solid red; */
}
#categories-font{
   font-size: 30px;
}
#allMainContainer{
   width: 95%;
   /* border: 1px solid green; */
   margin: auto;
   margin-top: 20px;
   /* display: flex; */
}
#Div2Pics{
   width: 95%;
   /* border: 1px solid black; */
   margin: auto;
   display: grid;
   margin-top: 30px;
   grid-template-columns: repeat(4,1fr);
/* display: flex; */
}
#divider{
   display: flex;
   justify-content: space-around;
}
#buttonid{
   width: 80px;
   margin-top: 25px;
   height: 30px;
   border-radius: 20px;
   color: rgb(79,193,191);
   border-color: rgb(79,193,191); 
}
#buttonid:hover{
   color: white;
   background-color: rgb(79,193,191) ;
}
#Prod_desc{
   margin: 2px 5px 10px 10px;
}
#picssecondarrange{
width: 50%;
   /* border: 1px solid green; */
   margin: auto;
   /* border: 1px solid black; */
   display: flex;

}
#picssecondarrange>div{
   margin: 5px 10px 5px 20px;
}
#Lst_container{
   width: 93%;
   margin: auto;
   height: 600px;
   /* border: 1px solid red; */
   display: flex;
}
#Lst_container>div{
   margin: 5px 5px 5px 20px;
}
#appDownButton{
   display: flex;
 
}
#appDownButton>button{
   margin: 5px 5px 5px 5px;
   border: none;
   width: 90px;
   height: 35px;
   color: white;
   background-color: black;
   border-radius: 20px;
 
}
#appDownButton>button:hover{
   color: black;
   background-color: white;
 
}
#MobNumber{
   width: 90%;
   height: 10%;
   margin: 5px 0px 20px 10px;
   font-size: 30px;
}
#submit{
   width: 90%;
   height: 10%;
   margin: 5px 0px 20px 10px;
   background-color: rgb(172,229,215);
   color:black;
   font-size: 30px;
}
