#umeshregister-card{
    height: 610px;
    width: 500px;
    margin: auto;
    padding-bottom: 20px;
    background-color: rgb(255,255,255);
   margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    margin-bottom: 50px;
}
#background{
    background-color: rgb(228,228,228);
}
#headerreg{
    letter-spacing: 0;
    font-size: 30px;
    line-height: 35px;
    color: black;
    margin-bottom: 20px;
    padding: 20px 0 10px 15px;
   
}
#Altext{
    padding: 20px 0 10px 15px;
}
#facelogo{
    display: flex;
    /* border: 1px solid red; */
    height: 42px;
    width: 90%;
    margin: auto;
    margin-top: 3px;


}
#googlelogo{
    display: flex;
    /* border: 1px solid red; */
    height: 42px;
    width: 90%;
    margin: auto;
    margin-top: 3px;

}
#UmeshOR{
    margin-left: 48%;
    margin-top: 1%;
}
#input{
padding: 10px;
text-align: center;   
}
#register>input{
    width: 360px;
    line-height: 30px;
    margin-top: 10px;
    padding: 10px;
}
#facelogo{
    height: 42px;
    width: 80%;
    margin: auto;
    margin-top: 1%;
    border-radius: 5px;
    line-height: 5px;
    padding: 0 45px 0 0;
    display: flex;
    background-color: rgb(66,103,178);
}
#googlelogo{
    height: 42px;
    width: 80%;
    margin: auto;
    margin-top: 1%;
    border-radius: 5px;
    line-height: 5px;
    padding: 0 45px 0 0;
    display: flex;
    background-color: rgb(8,124,221);
}
#submitId{
width: 380px;
 height: 33px;
 text-align: center;
  margin-top: 15px;
  background-color:white;
  color:rgb(225,30,46);
  font-size: 15px;  
  border:1px solid rgb(225,30,46);
  font-weight: bold;
}
#submitId:hover{
    background-color:rgb(225,30,46);
    color: white;

}
#uppertext{
    padding: 5px 0 2px 15px;
}

#Extradiv{
    height: 52px;
    width: 90%;
    border: 1px dashed red;
    margin: auto;
    margin-top: 1%;
    border-radius: 5px;
    background-color: rgb(252,239,241);
    padding: 0px 0px 15px 5px;
    margin-bottom: 5px;
}
#background{
    background-color: rgb(228,228,228);
}

#facebook-text{
    margin-left: 90px;
    color: white;
}
#google-text{
    margin-left: 90px;
    color: white;
}
#g-image>img{
    border-radius: 50%;
}
#form{
    width: 80%;
    margin: auto;
}
*{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;

}
  
a{
    text-decoration: none;
    color: rgb(52, 123, 255);
}

/* header footer */

*{
    /* color:rgb(167,167,167); */
    font-family: sans-serif;
}
#container{
    height: 80px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
}
#first-box{
    width: 30%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}
#first-box>div>img{
    width: 45%;
    height: 20%;
    margin-left: 10%;
}
#third-box{
    width: 25%;
    /* border: 1px solid black; */
    display:flex;
    justify-content:space-evenly;
}
#third-box>div{
    margin-top: 8%;
}
#second-box{
    width: 45%;
    /* border: 1px solid black; */
}
#input-box>input{
    width: 90%;
    margin: auto;
    padding: 15px 18px 15px 18px;
    border-radius: 18px;
    margin-top: 3%;
    background-color:rgb(249,249,249);
    border:0.1px solid grey;
}
#cardicon{
    width:22px;
    opacity: 0.5;
}
#cart-Icon{
    display: flex;
  
}
#usericon{
    display: flex;
}
#usericonimg{
    width: 17px;
    opacity: 0.5;
}
#creditsicon{
    display: flex;
}
#Credit-Icon{
    width: 20px;
    height: 17px;
    opacity: 0.5;
}
#home{
    display: flex;
}
#homeicon{
    width: 19px;
    opacity: 0.5;
}
/* header end */
/* footer start */
#footer-container{
    height: 820px;
    /* border: 1px solid red;  */
    background-color:rgb(22,82,65);
    color: white;
   

}

#f1{
    display: flex;
}
#f1>div{
    width: 25%;
    height:50%;
    /* border: 1px solid black; */
    margin-top: 5%;
    padding: 5px 20px 5px 20px;
}
#f1>div>img{
    width: 40%;
    align-items: center;

}
#f2{
    height: 50%;
    padding: 5px 20px 5px 20px;
    /* border: 1px solid red; */
}
#email-icon{
    width: 30px;
    /* opacity: 0.5; */
}
#phone-icon{
    width: 30px;
    /* opacity: 0.5; */
}
#E-mail{
    display: flex;
}
#Contact{
    display: flex;
}
#bottom-copyright{
   margin-left: 530px;
}


















 